<div class="container-fluid bg-dark bg-gradient">
  <div class="row">
    <div class="col p-5">
      <h3 class="text-white">Plus sur moi</h3>
      <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima deserunt at eveniet facere qui rem suscipit, libero maiores quasi aliquid?</p>
    </div>
    <div class="col p-5">
      <h3 class="text-white">Keep in touch</h3>
      <div class="d-flex flex-column">
        <a class="text-white py-1" href=""><img src={{socialIcons[0]}} width="30" alt=""> /jumperenterprise</a>
        <a class="text-white py-1" href=""><img src={{socialIcons[1]}} width="30" alt=""> /jumper_develop</a>
        <a class="text-white py-1" href=""><img src={{socialIcons[2]}} width="30" alt=""> /andrew-jumper</a>
        <a class="text-white py-1" href=""><img src={{socialIcons[3]}} width="30" alt=""> /jumper_enterprise</a>
        <a class="text-white py-1" href=""><img src={{socialIcons[4]}} width="30" alt=""> /jumper_enterpise</a>
      </div>
    </div>
    <div class="col p-5">
      <h3 class="text-white">Contact Information</h3>
      <div class="col-sm">
          <i class="fas fa-map-marker-alt text-white"> Paris-France</i>
          <i class="fas fa-envelope text-white"> andrew.jumper.ent@gmail.com</i>
          <i class="fas fa-mobile text-white"> (+33) 07 49 92 75 46</i>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark">
  <div class="row">
  <div class="col-sm">
    <p class="text-white">| Copyright&copy; 2021 - Página creada por JumperEnterprise - Todos los derechos reservados</p>
  </div>
  <div class="col-sm">
    <p class="text-white">| Privacy Policy |</p>
  </div>
</div>
</div>
