<div class="container-fluid bg-dark bg-gradient">
  <div class="row">
    <div class="col p-5">
      <h3 class="text-white">Plus sur moi</h3>
      <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima deserunt at eveniet facere qui rem suscipit, libero maiores quasi aliquid?</p>
    </div>
    <div class="col p-5">
      <h3 class="text-white">Keep in touch</h3>
      <div class="d-flex flex-column">
        <a class="text-white" href=""><img src={{socialIcons[0]}} width="30" alt=""> /Jumperenterprise</a>
        <a class="text-white" href=""><img src={{socialIcons[1]}} width="30" alt=""> /jumper_develop</a>
        <a class="text-white" href=""><img src={{socialIcons[2]}} width="30" alt=""> /andrew-jumper</a>
        <a class="text-white" href=""><img src={{socialIcons[3]}} width="30" alt=""> /jumper_enterprise</a>
        <a class="text-white" href=""><img src={{socialIcons[4]}} width="30" alt=""> /jumper_enterpise</a>
      </div>
    </div>
    <div class="col p-5">
      <h3 class="text-white">Contact Information</h3>
      <div class="col-sm">

      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark d-flex justify-content-around">
  <div>
    <p class="text-white">Copyright&copy; 2021 - Página creada por JumperEnterprise - Todos los derechos reservados</p>
  </div>
  <div class="d-flex">
    <p class="text-white">Privacy Policy</p>
  </div>
</div>
