<form class="row g-3">
  <div class="col-md-6">
    <label for="inputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputName">
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputLastName">
  </div>
  <div class="col-12">
    <label for="input" class="form-label">Subject</label>
    <input type="text" class="form-control" id="inputSubject" placeholder="Let's build something amazing!">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Project Description</label>
    <textarea type="text" class="form-control" id="inputAddress2" rows="3" placeholder="Let's build an E-commerce in Angular..."></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
