<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 site-title pt-5">
      <h3 class="title-text">Bonjour!</h3>
      <p class="title-text text-uppercase fs-1">Je suis Andrew</p>
      <p class="title-text text-uppercase fs-2">Front-End Développeur</p>
      <div class="site-buttons">
        <div class="d-flex flex-row flex-wrap">
          <button
            type="button"
            class="btn button primary-button mr-4 text-uppercase"
          >
            Engagez-moi
          </button>
          <button class="btn button secondary-button text-uppercase">
            Obtenir mon CV
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 banner-image">
      <img
        src="{{ headerImg[0] }}"
        alt="{{ headerImg[1] }}"
        class="img-fluid"
      />
    </div>
  </div>
</div>

